{% extends 'homepage.html' %}
{% block content%}
<h1> About Us</h1>
<p>
    ICT is an emerging IT solution company in Nepal. The main aim of the company is to provide software solution to the clients. 
    It provides services like web application development, web technology solutions which includes web hosting, domain registration and web designing. 
    The staffs here are equipped with cutting edge latest industry tools and technologies to suggest the solution for the common IT problems.
     We use cloud based tools and technologies for providing a reliable product for the clients. Overall the company is growing and taking part in providing reliable software solutions globally. 
</p>
 {% endblock %}